/********************************************************************************
* Defines the core styles for HTML5 elements
*
* Table of Contents
	core layout
	header
	footer
********************************************************************************/


/********************************************************************************
  core layout
********************************************************************************/
article,aside,canvas,footer,header,hgroup,nav,section{
	clear:both;
}
header[role=banner] .webpage,footer .webpage{
	position:relative;
}


/********************************************************************************
  header
********************************************************************************/
header[role=banner]{
	height:90px;
	position:relative;
}


/********************************************************************************
  footer
********************************************************************************/
footer{
	height:64px;
	position:relative;
}
