/********************************************************************************
* Defines the general styles for the website
*
* Table of Contents
	core layout
	menu core
		horizontal
		vertical
		primary
		utility
		special items
	navigation
	header
	banners
	footer
********************************************************************************/


/********************************************************************************
  core layout
********************************************************************************/
#webpage,.webpage{
	font-size:14px;
	line-height:1.2;
	margin:0 auto;
	width:980px;
}
#site-columns{
	padding-bottom:20px;
	white-space:nowrap;
}
#site-main-content,#sidebar,#extrainfo,.column{
	display:inline-block;
	vertical-align:top;
	white-space:normal;
}
#site-main-content{
	margin:0 auto;
	width:100%;
}
.nosidebar #sidebar,.noextrainfo #extrainfo{
	display:none;
}
.sidebar #sidebar,.extrainfo #extrainfo{
	width:240px;
}
.sidebar.extrainfo #site-main-content{
	margin:0 16px;
	width:460px;
}
.noextrainfo.sidebar #site-main-content{
	margin-left:16px;
	width:720px;
}
.extrainfo.nosidebar #site-main-content{
	margin-right:16px;
	width:720px;
}


/********************************************************************************
  menu core
********************************************************************************/
.menu{
	line-height:1.5;
	list-style-type:none;
	margin:0;
	padding:0;
}
.menu li{
	list-style-type:none;
	margin:0;
}
.menu a{
	display:block;
	text-decoration:none;
}
.menu.delimiter a{
	text-decoration:underline;
}
.menu img{
	vertical-align:middle;
}
.menu .menu{
	background-color:#ffffff;
	display:none;
	text-align:left;
}

/*====== horizontal ======*/
ul.horizontal{
	clear:left;
	margin-bottom:10px;
	position:relative;
}
ul.horizontal li{
	display:inline-block;
	position:relative;
	white-space:nowrap;
}
ul.horizontal a,ul.horizontal .inactive{
	margin-right:4px;
	padding:0 6px 2px
}
ul.horizontal .menu{
	position:absolute;
	z-index: 10000;
}
ul.horizontal.delimiter a{
	display:inline-block;
}
ul.horizontal > li.delimiter{
	border-right:1px solid #000000;
}

/*====== vertical ======*/
ul.vertical li{
	display:list-item !important;
	position:relative;
	white-space:nowrap;
}
ul.vertical .menu{
	position:absolute;
	z-index: 10000;
}
ul.vertical > li.delimiter{
	border-bottom:1px solid #000000;
}

/*====== primary ======*/
.primary{
	text-align:center;
}
.primary .menu{
	margin:0 auto;
}

/*====== utility ======*/
.utility{
	background-color:transparent;
	font-size:12px;
	line-height:1;
}

/*====== special items ======*/
.menu .menu-root a{
	background-color:#cccccc;
}
.menu .current > a{
	background-color:#0000ff;
	color:#cccccc;
}
.menu .current-parent > a{
	background-color:#c0c0c0;
	color:#000000;
}
.menu-display{
	display:none;
	position:absolute;
	z-index: 10000;
}


/********************************************************************************
  navigation
********************************************************************************/
nav h2{
	font-size:18px;
	margin:0 0 6px;
}
/*
#global-menubar{
	font-weight:bold;
	margin-bottom:10px;
	text-align:center;
}
#global-menubar .menu{
	margin:0 auto;
	z-index: 10000;
}
#path{
	font-size:14px;
	margin-bottom:4px;
}
#path a{
	color:#000000;
}
#path span.delimiter{
	margin:0 4px;
}
*/


/********************************************************************************
  header
********************************************************************************/
#site-header{
	height:90px;
	position:relative;
}
#site-header .webpage{
	position:relative;
}
#logo{
	left:16px;
	position:absolute;
	top:16px;
}
#logo h1{
	margin:0;
}
#utility{
	position:absolute;
	right:20px;
	text-align:center;
}
#search{
	padding:4px;
	position:absolute;
	right:0;
	top:32px;
}
.searchbutton{
	vertical-align:middle;
}


/********************************************************************************
  banners
********************************************************************************/
#banner-container{
	margin:8px auto;
	position:relative;
}
#banner-frame,#banner-frame-link{
	display:block;
	position:absolute;
	z-index:10;
}
#banners{
	margin:0;
}
#banners img{
	vertical-align:middle;
}


/********************************************************************************
  footer
********************************************************************************/
#site-footer{
	height:64px;
	position:relative;
}
#copyright{
	color:#000000;
	padding:8px 12px;
	text-align:center;
}